Nova Pasta/ClienteMeuEjbWsLista03/src/META-INF/wsdl/localhost_8080/MeuEjbWsLista03/MeuEjbWsLista03.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="dividir" type="tns:dividir"/>

<xs:element name="dividirResponse" type="tns:dividirResponse"/>

<xs:element name="multiplicar" type="tns:multiplicar"/>

<xs:element name="multiplicarResponse" type="tns:multiplicarResponse"/>

<xs:element name="somar" type="tns:somar"/>

<xs:element name="somarResponse" type="tns:somarResponse"/>

<xs:element name="subtrair" type="tns:subtrair"/>

<xs:element name="subtrairResponse" type="tns:subtrairResponse"/>

<xs:complexType name="subtrair">
<xs:sequence>
<xs:element name="valor1" type="xs:int" minOccurs="0"/>
<xs:element name="valor2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtrairResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="somar">
<xs:sequence>
<xs:element name="valor1" type="xs:int" minOccurs="0"/>
<xs:element name="valor2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="somarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicar">
<xs:sequence>
<xs:element name="valor1" type="xs:int" minOccurs="0"/>
<xs:element name="valor2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividir">
<xs:sequence>
<xs:element name="valor1" type="xs:int" minOccurs="0"/>
<xs:element name="valor2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividirResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>