Nova Pasta/ClienteMeuEjbWsLista03/src/META-INF/wsdl/localhost_8080/MeuEjbWsLista03/MeuEjbWsLista03.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="MeuEjbWsLista03">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/MeuEjbWsLista03/MeuEjbWsLista03?xsd=1"/>
</xsd:schema>
</types>
<message name="somar">
<part name="parameters" element="tns:somar"/>
</message>
<message name="somarResponse">
<part name="parameters" element="tns:somarResponse"/>
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar"/>
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse"/>
</message>
<message name="subtrair">
<part name="parameters" element="tns:subtrair"/>
</message>
<message name="subtrairResponse">
<part name="parameters" element="tns:subtrairResponse"/>
</message>
<message name="dividir">
<part name="parameters" element="tns:dividir"/>
</message>
<message name="dividirResponse">
<part name="parameters" element="tns:dividirResponse"/>
</message>
<portType name="MeuEjbWsLista03">
<operation name="somar">
<input wsam:Action="http://ejb/MeuEjbWsLista03/somarRequest" message="tns:somar"/>
<output wsam:Action="http://ejb/MeuEjbWsLista03/somarResponse" message="tns:somarResponse"/>
</operation>
<operation name="multiplicar">
<input wsam:Action="http://ejb/MeuEjbWsLista03/multiplicarRequest" message="tns:multiplicar"/>
<output wsam:Action="http://ejb/MeuEjbWsLista03/multiplicarResponse" message="tns:multiplicarResponse"/>
</operation>
<operation name="subtrair">
<input wsam:Action="http://ejb/MeuEjbWsLista03/subtrairRequest" message="tns:subtrair"/>
<output wsam:Action="http://ejb/MeuEjbWsLista03/subtrairResponse" message="tns:subtrairResponse"/>
</operation>
<operation name="dividir">
<input wsam:Action="http://ejb/MeuEjbWsLista03/dividirRequest" message="tns:dividir"/>
<output wsam:Action="http://ejb/MeuEjbWsLista03/dividirResponse" message="tns:dividirResponse"/>
</operation>
</portType>
<binding name="MeuEjbWsLista03PortBinding" type="tns:MeuEjbWsLista03">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="somar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtrair">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dividir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MeuEjbWsLista03">
<port name="MeuEjbWsLista03Port" binding="tns:MeuEjbWsLista03PortBinding">
<soap:address location="http://localhost:8080/MeuEjbWsLista03/MeuEjbWsLista03"/>
</port>
</service>
</definitions>